/* Header */

.title {    
  text-align: center;
  color: rgb(116, 176, 156);
  font-size: 30px;  
  margin-top: 30px;
}

/* Job */

.job {
  background-color: #74AA9C;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  height: 70px;
  border-radius: 20px;
  padding: 0 22px;
  font-size: 18px;
  color: #FFFFFF;
}

.job select {
  height: 40px;
  font-size: 18px;
  border: 0;
  border-radius: 15px;
  padding: 0 10px 0 20px;
}

.addition {
  margin-top: 8px;
  text-align: end;
  color: #74AA9C;
}

/* Essay */

.essay-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;    
  margin-top: 25px;
  border: 2px solid gray;
}

.essay-info {
  background-color: rgb(240, 241, 242);    
  height: 100px;
}

.essay-wrapper textarea {
  height: 100px;    
  outline: none;
  resize: none;    
  font-size: 20px;
}

.essay-btns {
  display: flex;
  margin-top: 25px;
}

.reset-btn {
  background-color: rgb(240, 241, 242);
  opacity: 0.7;
  height: 35px;    
  text-align: center;
}

.create-btn {
  background-color: rgb(116, 176, 156);
  color: white; 
  height: 35px;    
  text-align: center;
}

/* Response */

.prediction-container {
  height: 30px;
  display: flex;
  flex-direction: column;
  justify-items: center;      
  border: 2px solid gray;
  border-radius: 20px;
  margin-top: 30px;
  background-color: rgb(240, 241, 242);
}

.prediction-question {
  height: 30px;
  display: flex;
  justify-content: center;
}
